* { margin:0; padding:0;}
html { filter:expression(document.execCommand("BackgroundImageCache",false,true));}
ul { list-style:none;}
.bxTool { height:22px; overflow:hidden; margin-bottom:2px; position:relative;}
.bxTool div { float:left; height:22px; overflow:hidden;}
.bxTool select { height:18px; margin:0px; margin-top:2px; _margin-top:1px; font-size:12px; margin-right:2px;}
.bxTool ul li { width:23px; height:22px; float:left; margin-right:3px;}
#frmEditor { clear:both; border:1px solid #bdc7d8; overflow:hidden;}
#frmEditor iframe { width:100%; height:100%; _width:400px; _height:130px;}
#popup,#shadow,#smallFace,#faceImg { position:absolute; visibility:hidden; overflow:hidden;}
#popup { background-color:#fff;}
#faceImg { z-index:2;}
#shadow { border:1px solid #5EB8EE; background:#C8E7F9; z-index:1;}
#smallFace { border:1px solid #666; top:2px; left:2px; width:60px; height:60px; z-index:3;}